  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
.larger-list{
  min-width: 300px;
    position: absolute;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
#sunday{
  padding-left:15px;
}

#saturday{
  padding-right:15px;
}

.list-group{
  max-height: 610px;
  overflow:scroll;
}

.col-md-8{
  position: relative;
  margin-left:300px;
  display:none;
}

#bar{
  background-color: gray;
  width: all;
}

@media (max-width: 767px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }

}

@media (min-width: 768-991px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;

  }

}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }

}
/* login page
*/
#container {
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(55, 0, 255, 0.9);
  position: fixed;
}

.col-md-8 {
  z-index: -1;
}

#login-id {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
}

#login-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
